services:
  minio:
    image: $MINIO_IMAGE
    container_name: $MINIO_SERVER_CONTAINER
    environment:
      MINIO_ROOT_USER: $MINIO_ROOT_USER
      MINIO_ROOT_PASSWORD: $MINIO_ROOT_PASSWORD
      MINIO_SKIP_MD5: on
    command: ["server", "/data", "--console-address", ":$MINIO_CONSOLE_PORT"]
    ports:
      - $MINIO_CONSOLE_PORT:9090
      - $MINIO_SERVER_PORT:9000
    volumes:
      - minio:/data
    healthcheck:
      test: timeout 15s bash -c ':> /dev/tcp/localhost/$MINIO_SERVER_PORT' || exit 1
      interval: 30s
      timeout: 15s
      retries: 5
      start_period: 30s
    restart: always

  minio-create-buckets:
    image: minio/mc
    environment:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      AWS_REGION: $AWS_REGION
    entrypoint: /bin/bash
    command:
      - -c
      - |
        /usr/bin/mc alias set local http://$MINIO_SERVER_CONTAINER:$MINIO_SERVER_PORT $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD;
        /usr/bin/mc mb local/$AWS_RAW_BUCKET;
        exit 0;
    depends_on:
      minio:
        condition: service_healthy

volumes:
  minio:
    name: minio
