services:
  minio:
    image: $MINIO_IMAGE
    environment:
      MINIO_ROOT_USER: $MINIO_ROOT_USER
      MINIO_ROOT_PASSWORD: $MINIO_ROOT_PASSWORD
      MINIO_SKIP_MD5: on
    command: ["server", "/data", "--console-address", ":$MINIO_CONSOLE_PORT"]
    ports:
      - $MINIO_CONSOLE_PORT:9090
      - $MINIO_SERVER_PORT:9000
    volumes:
      - minio:/data
    healthcheck:
      test: timeout 15s bash -c ':> /dev/tcp/localhost/$MINIO_SERVER_PORT' || exit 1
      interval: 30s
      timeout: 15s
      retries: 5
      start_period: 30s
    restart: always

  minio-create-buckets:
    image: minio/mc
    environment:
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      AWS_REGION: $AWS_REGION
    entrypoint: /bin/bash
    command:
      - -c
      - |
        /usr/bin/mc alias set local http://minio:$MINIO_SERVER_PORT $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD;
        /usr/bin/mc mb local/$AWS_PRODUCER_BUCKET;
        exit 0;
    depends_on:
      minio:
        condition: service_healthy

  producer:
    build:
      context: .
      target: producer
    environment:
      AWS_ENDPOINT_URL: http://minio:$MINIO_SERVER_PORT
      AWS_REGION: $AWS_REGION
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      AWS_BUCKET: $AWS_PRODUCER_BUCKET
    command:
      - --data-sink
      - s3
    restart: on-failure
    depends_on:
      minio-create-buckets:
        condition: service_completed_successfully

  duckdb:
    profiles:
      - manual
    environment:
      MINIO_SERVER_PORT: $MINIO_SERVER_PORT
      AWS_REGION: $AWS_REGION
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    build:
      context: .
      target: duckdb

volumes:
  minio:
    name: minio
