[project]
name = "streaming-practicum"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
producer = [
    "faker>=40.1.2",
]
